* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato';
}

@font-face {
  font-family: 'Basier Circle Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Basier Circle Regular'), url('../font/BasierCircle-Regular.woff') format('woff');
}

body{
  font-family: 'Basier Circle Regular';
  color: rgb(172, 171, 172);
  font-weight: 500;
}

h1{
  padding:16px 0;
  font-size: 22px;
  text-align: center;
  background-color: rgb(59, 113, 114);
  color: white;
}

h2{
  font-size: 20px;
  padding-top: 20px;
  text-align: center;
  color:rgb(25, 28, 31);
}


h3{
  font-size: 18px;
  padding-top: 60px;
  text-align: center;
  color:rgb(25, 28, 31);
}



body{
  font-family: "Montserrat", sans-serif;
}




.color{
  color:rgb(59, 113, 114);
}

.colorgrey{
  color:rgb(172, 171, 172);
}
